html, 
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    color: rgb(236 197 55);
}

.main-container {
    background: cadetblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-container {
    width: 75%;
    height: 75%%;
    background: rgb(237 15 14);
    border-radius: 30px;
    border: 5px solid black;
}

.title-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    font-size: 4rem;
    color: rgb(236 197 55);
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.menu {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    gap: 2rem;
    width: 30%;
}

.game {
    border: 3px solid black;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    min-width: 0;
    overflow: hidden;
}


.square {
    /* flex: 1 1 20px; */
    background: white;
    height: 10px;
    width: 10px;
}

#clearBoard {
        background: lightgreen;
        border: 1px solid limegreen;
        border-radius: 5px;
        padding: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
}

#rainbowMode {
    background: rgb(184, 43, 231);
        border: 1px solid limegreen;
        border-radius: 5px;
        padding: .5rem;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
}

.slider {
    text-align: center;
}

.circles {
    display: flex;
    justify-content: space-between;
}

.circle {
    height: 100px;
    width: 100px;
    background: white;
    margin: 2rem;
    border-radius: 50%;
    border: 5px groove black;
}

.footer {
    height: 4vh;
    width: 100%;
    background: rgb(143, 141, 162);
    bottom: 0;
    position: fixed;
    text-align: center;
    padding-bottom: .5rem;
}


@media only screen and (max-width: 1230px) {
   
    .main {
        flex-direction: column-reverse;
        align-items: center;
    }
}


