html,
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background: #EFF1F3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */
.header {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0B3954;
    color: #BFD7EA;
}

.title h1 {
    height: 2vh;
    font-size: 4vh;
    margin-bottom: 3.7vh;
}

.header-underline {
    width: 100%;
    height: 0.5rem;
    background-color: #A2B3C6;
    margin-top: 0.5rem;

}

/* body-container */
.body-container {
    display: flex;
    height: 90vh;
}

.player {
    width: 25vw;
    height: inherit;
    background: #0A5C70;
    color: #BFD7EA;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3.5rem;
    padding-top: 5rem;
}

.player-underline {
    height: 0.5vh;
    margin-top: 1rem;
    width: 80%;
    background: #BFD7EA;
}

.game-container {
    width: 50vw;
    height: inherit;
    background: #087E8B;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.game-box {
    width: 39vw;
    height: 51vh;
    background: white;
    display: flex;
    flex-wrap: wrap;
    border: 0.5rem solid #0B3954;
}

.game-box>* {
    box-sizing: border-box;
    width: 13vw;
    height: 17vh;
    background: 3FF5A5F;
    border: 0.5px solid #BFD7EA;
}

.square {
    display: flex;
    justify-content: center;
    align-content: center;
}

.square {
    font-size: 7.5rem;
}

.square:hover {
    background: #0A5C70;
    border-color: black;
}

#start-game {
    background: #FF5A5F;
    border-radius: 15px;
    border: 2px solid #BFD7EA;
    padding: 1rem;
    box-shadow: none;
}

.restart {
    background: #FF5A5F;
    border-radius: 15px;
    border: 2px solid #BFD7EA;
    padding: 1rem;
    box-shadow: none;
    visibility: hidden;
}


.btn {
    background: #BFD7EA;
    padding: 1rem;
    border: 2px solid #0B3954;
    border-radius: 15px;
}


.btn:hover {
    background: #76b3e4;
}

.result {
    font-size: 4rem;
    color: gold;
}